
.wrapper {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-auto-rows: 30px;
}

.regularColor {
    background-color: white;
}

.obstacleColor {
    background-color: red;
}

.startColor {
    background-color: blue;
}

.endColor {
    background-color: green;
}

.checkingColor {
    background-color: yellow;
}

.openNodeColor {
    background-color: gray;
}

.closedNodeColor {
    background-color: black;
}

.pathColor {
    background-color: pink;
}

/*replace: option + command + f*/