
.wrapper {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
    grid-auto-rows: 70px;
}

.regularColor {
    background-color: white;
}

.obstacleColor {
    background-color: red;
}

.startColor {
    background-color: blue;
}

.endColor {
    background-color: green;
}

.checkingColor {
    background-color: yellow;
}

.openNodeColor {
    background-color: gray;
}

.closedNodeColor {
    background-color: lightblue;
}

.pathColor {
    background-color: pink;
}

/*replace: option + command + f*/